body {
    margin: 0;
    padding: 0;
}

.canvas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    gap: 1px;
    margin: auto;
    background-color: #808080;
    border: 3px solid #808080;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex: 1;
    gap: 1px;
}

.square {
    flex: 1;
}

.light {
    background-color: white;
}

.dark {
    background-color: black;
}

.cover {
    height: 100%;
    width: 100%;
}

#resize {
    position: fixed;
    top: 5px;
    left: 5px;
}